.site-header{
  background-color: #ffccaa;

  .custom-logo {
    max-width: 20rem;
    margin: 3rem;
  }

  .site-branding{
    background-size: cover;
    opacity: 1;
  }

  .menu-primary-container{
    .nav-menu{
      .menu-item{
        margin: 1rem;
      }
    }
  }
}

