.site-header{
  background-color: $color__background-secondary;

  .custom-logo {
    max-width: 6rem;
    margin: .5rem;
    @media (min-width: $sm) {
      max-width: 20rem;
      margin: 3rem;
    }
  }

  .site-branding{
    background-size: cover;
    opacity: 1;
  }

  .menu-primary-container{
    .nav-menu{
      .menu-item{
        margin: 1rem;
      }
    }
  }
}

